/** phan khung trang*/
body {
	margin: 0px auto;
	background-color: pink;
	font-size: 14px;
	color: #474747;
}
p {
	margin: 0px;
}
a {
	margin: 0px;
}
select {
	margin: 0px;
}
input {
	width: 147px;
	height: 20px;
	margin: 11px 0px 0px 37px;
}
.container {
	width: 985px;
	height: 770px;
	background-color: #292728;
	margin: 50px auto;
}
/** phan contain tren */
.left-on {
	margin-top: 23px;
	margin-left: 2px;
	width: 652px;
	height: 303px;
	background-color: white;
	float: left;
}
/** phan header trai */
.contain-left-header{
	width: 327px;
	border-right-style: solid ;
	border-right-width: 1px;
	background: url('../img/h2-confidential-heading-bg.gif');
}
.contain-left-header p {
	margin-left: 16.5px;
	color: white;
	padding: 5px 0px 5px 0px;
}
/** phan noi dung tren ben trai*/
.contain-left-on {
	margin-top: 1px;
	width: 327px;
	height: 275px;
	background-color: #ffffff;
	border-right-style: dotted;
	border-right-width: 1px;
	float: left;
	clear: both;
}
.title-left {
	background: url('../img/showbuzz.gif') no-repeat;
	width: 305px;
	height: 18px;
	margin-top: 5px;
	margin-left: 7px;
}
.title-left p {
	margin-top: -3px;
	float: right;
	margin-right: 20px;
	font-size: 14px;
}
.content-text-left {
	margin: 7px 0px 0px 10px;
}
.content-text-left p:first-child{
	padding-bottom: 7px;
}
.p-text-left {
	font-size: 11.5px;
}
.img-header {
	width: 305px;
	height: 151px;
	margin: 7px 0px 0px 10px;
}
/** phan header tren ben phai */
.contain-right-header{
	width: 324px;
	border-right-style: solid ;
	border-right-width: 1px;
	background: url('../img/h2-confidential-heading-bg.gif');
}
.contain-right-header p {
	margin-left: 16.5px;
	color: white;
	padding: 5px 0px 5px 0px;
}
/** phan contain tren ben phai */
.contain-right-on {
	margin-right: 9px;
	margin-top: 1px;
	width: 312px;
	height: 275px;
	background-color: #ffffff;
	float: left;
}
.title-right {
	background: url('../img/shooting-star.gif') no-repeat;
	width: 305px;
	height: 18px;
	margin-top: 5px;
	margin-left: 7px;
}
.title-right p {
	margin-top: -3px;
	float: right;
	margin-right: 20px;
	font-size: 14px;
}
.content-text-right {
	margin: 7px 0px 0px 10px;
}
.content-text-right p:first-child{
	padding-bottom: 7px;
}
.p-text-right {
	font-size: 11.5px;
}
/**phan anh confidential */
.confidential {
	width: 652px;
	height: 27px;
	clear: both;
	background: white;
}
.confidential img {
	margin: top 10px;
	margin-left: 10px;
}
/** phan contain duoi*/
.left-bottom {
    margin-top: 23px;
	margin-left: 2px;
	width: 652px;
	height: 303px;
}
/**phan content duoi ben trai */
.contain-left-bottom {
	width: 316px;
	height: 215px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	background-color: white;
}
.contain-left-header-bottom{
	width: 316px;
	border-right-style: solid ;
	border-right-width: 1px;
	background: url('../img/h2-top-movie-trailers-bg.gif');
}
.contain-left-header-bottom p {
	margin-left: 16.5px;
	color: white;
	padding: 6px 0px 6px 0px;
}
.movie {
	width: 286px;
	background: url(../img/movie.gif);
	padding: 4px 0px 0px 10px;
	color: #2680bc;
	float: left;
}
.info-movie{height: 90px;}
.info-movie img {
	width: 100px;
	height: 78px;
	margin: 7px 7px;
	float: left;
}
.info-movie p {
	width: 187px;
	margin: 3px 3px;
	float: left;
	overflow: hidden;
}
.info-movie p:last-child {
	width: 162px;
	background: url(../img/entertainment-icons.gif) 0px -92px no-repeat;
	padding-left: 25px;
}
.movie-arrow { 
	float: right;
	width: 20px;
	height: 20px;
	background: url(../img/movie.gif);
}
.arrow {
	width: 10px;
	height: 10px;
    margin: 6px 0px 0px 5px;
	background: url(../img/arrow.gif) no-repeat;
}
.showing {
	clear: both;
	width: 310px;
	border-top-style: dotted;
	border-top-width: 1px;
}
.showing img {
	padding: 4px 0px 0px 8px;
	float: left;
}
.showing p {
	float: left;
	margin: 8px 4px 0px 4px;
}
.showing select {
	float: right;
	width: 180px;
}
/**phan con tent duoi ben phai */
.contain-right-bottom {
	width: 320px;
	height: 300px;
	margin-top: 10px;
	margin-left: 14px;
	float: left;
	background-color: white;
}
.contain-right-header-bottom{
	width: 320px;
	border-right-style: solid ;
	border-right-width: 1px;
	background: url('../img/h2-top-movie-trailers-bg.gif');
}
.contain-right-header-bottom p {
	margin-left: 16.5px;
	color: white;
	padding: 5px 0px 6px 0px;
}
.movie-right {
	width: 170px;
	padding: 8px 0px 0px 10px;
	color: #2680bc;
	float: left;
	font-size: 16px;
}
.info-movie-right{height: 80px; clear: both;}
.info-movie-right img {
	width: 100px;
	height: 65px;
	margin: 7px 7px;
}
.info-movie-right p {
	width: 187px;
	height: 65px;
	margin: 3px 3px;
	float: right;
	overflow: hidden;
}
.watch {
	background: url(../img/entertainment-icons.gif) 0px -93px no-repeat;
	padding-left: 25px;
	margin-left: 7px;
}
.movie-arrow-right { 
	float: right;
	width: 116px;
	height: 20px;
}
.arrow-right {
	width: 116px;
	height: 10px;
    margin: 10px 0px 0px 47px;
	background: url(../img/topic-star-ratings.gif) 0px -70px no-repeat;
}
.arrow-2{
	background: url(../img/topic-star-ratings.gif) 0px -54px no-repeat;
}
.content-footer-right {
	clear: both;
	width: 300px;
	height: 25px;
	margin-top: 4px;
	margin-left: 9px;
	border-top-style: dotted;
	border-top-width: 1px;
}
.content-footer-right p {
	float: left;
	margin-top: 4px;
}
.content-footer-right p:first-child {
	background: url(../img/entertainment-icons.gif) 0px -173px no-repeat;
	padding-left: 15px;
}
.content-footer-right p:last-child {
	float: right;
}
/** phan noi dung ben phai*/
.right {
	width: 315px;
	height: 665px;
	background-color: #292728;
	float: right;
}
.right img {
	margin: 33px 0px 0px 23px;
}
button {
	width: 64px;
	color: #ffffff;
    background-color: #92039a;
    border: none;
}
/** phan footer */
.footer {
	width: 985px;
	height: 60px;
	background-color: #292728;
	border-top-style: dotted;
	border-top-color: white;
	border-bottom-width: 1px;
	color: blue;
	text-align: center;
	font-size: 12px;
	clear: both;
}
.slide 
{
	width: 985px;
	padding-top: 10px 40px 0px 40px;
	clear: both;
}
.slide-img {
	margin-right: 80px;
}
.footer a{
	text-decoration:none;
}
.footer-content {
	width: 985px;
	float: left;
	background-color: white;
}
.footer-left {
	width:770px ;
	margin-left: 110px;
	margin-top: 10px;
	float: left;
}
.footer-right {
	margin-top: 15px;
	width: 100px;
	float: left;
	background-color: white;
}
.copy-right {
	background-color: white;
	clear: both;
}
