body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
}
p{margin: 0px;}
.content{
    width: 500px;
    border: 1px solid #ececec;
    margin: 0px auto;
}
.title {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url('../img/title_background.gif');
    background-repeat: repeat-x;
}
.title > p > strong {
    margin-top: 4px;
    position: absolute;
}
/*phan Facts */
.content_info {height: 100px;}
.content_img {
    height: 100px;
    float: left;
 }
.content_img > img {
    width: 100px;
    height: 90px;
    margin-top: 27px;
}
.content_txt {
    margin: 20px 2px 0 0;
    float: left;
    overflow: scroll;
    width: 396px;
    height: 106px;
}
.content_history {margin-top: 50px;}
.content_history > p {margin-left: 5px;}
.list_history li p:before {
    content: url('../img/star.gif');
    padding-right: 8px;
}
.list_history li {
    list-style-type: none;
    margin-right: 10px;
}
/*phan comment*/
.comment_detail {
    background-color: #ECECEC;
    margin: 0px 5px;
    padding: 5px;
}
div.comment_detail:first-child {
    margin-top: 45px;
}
.clear {
    clear: both;
}
.post_by > img {
    height: 16px;
    margin: 0px 15px 0px 24px;
    float: left;
}
.post_by > p {
    padding-top: 1px;
    font-size: 13px;
}
span {
    color: blue;
}
.your_comment{margin-top: 20px;}
.your_comment > p:first-child{text-align: center;}
.your_comment > strong { margin-left: 82px}
.comment_field {
    width: 120px;
    text-align: left;
    padding-left: 5px;
    float: left;
}
/* phan your_comment */
div.comment_input > input {
    width: 132px;
    height: 22px;
}
div.comment_field > p:first-child {
    margin: 6px 0px 20px 0px;
}
div.comment_field > p:last-child {
    margin-top: 40%;
}
div.comment_input > input:first-child {
    margin-top: 5px;
    margin-bottom: 15px;
}
div.comment_input > textarea {
    margin-top: 15px;
    width: 360px;
    height: 86px;
}

